/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.user-box {
  padding: 2em;
  border: 1px dotted;
  background-color: antiquewhite;
}

.user-box-react {
  padding: 2em;
  border: 1px dotted;
  background-color: lightblue;
}
